/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    text-align: center;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #b399ff;
    background-image:
        radial-gradient(at 15% 61%, hsla(219, 83%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 63% 12%, hsla(281, 77%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 60% 30%, hsla(74, 72%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 28% 76%, hsla(303, 98%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 88% 9%, hsla(53, 80%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 63% 46%, hsla(182, 77%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 54% 48%, hsla(292, 87%, 61%, 1) 0px, transparent 50%);
}